<div style="width: 400px; height:400px;">
    <div id="chat-content" class="chat-messages p-4" >
        <div class="chat-message-right pb-4">
            <div>
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood"
                    width="40" height="40">
                <div class="text-muted small text-nowrap mt-2">2:33 am</div>
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="font-weight-bold mb-1">You</div>
                Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
            </div>
        </div>
    
        <div class="chat-message-left pb-4">
            <div>
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1"
                    alt="Sharon Lessman" width="40" height="40">
                <div class="text-muted small text-nowrap mt-2">2:34 am</div>
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="font-weight-bold mb-1">Sharon Lessman</div>
                Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
            </div>
        </div>
    </div>
    <div class="flex-grow-0 py-3 px-4 border-top">
        <div class="input-group">
            <input type="text" id="text" class="form-control" placeholder="Type your message">
            <button id="chat_button" class="btn btn-primary">Send</button>
        </div>
    </div>
</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    $(() => {
        const socket = new io();
        $('#chat_button').on('click', () => {
            console.log($('#text').val());
            socket.emit('chanel1', $('#text').val());
            $('#text').val('');
            return false;
        })
        socket.on('chanel1', msg => {
            //var str = `<div class="media-body"> <p>$</p> </div>`
            $('#chat-content').append($('<div>').addClass('chat-message-left pb-4').html(`
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
            <div class="font-weight-bold mb-1">Sharon Lessman</div>
            ${msg}
        </div>`));
        })
    })
</script>