<div class="d-flex m-auto" style="width: 100%; height:400px;">
    <div style="width: 150px;">
        <p class="m-3">Online player</p>
        <ul class="list-group online-list">
        </ul>
    </div>
    <p id="userhidden" style="display: none;">{{user.Username}}</p>
    <p id="imagehidden" style="display: none;">{{user.Image}}</p>
    <div>
        <div id="chat-content" class="chat-messages p-4" style="width:400px; height:400px; overflow-y: scroll;">
        </div>
        <div class="flex-grow-0 py-3 px-4 border-top">
            <div class="input-group">
                <input type="text" id="text" class="form-control" placeholder="Type your message">
                <button id="chat_button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
    <div class="m-5">
        <h3>Game room list</h3>
        <ul class="room-list container list-group" style="width: 500px">
            {{#each roomList}}
                <li class="list-group-item row">
                    <div class="col">
                        {{this.Host}}
                    </div>
                    <span class="col">vs</span>
                    <div class="col">
                        {{this.Guest}}
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>


<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    $(() => {
        const socket = new io();
        const onlSocket = new io();
        $('#chat_button').on('click', () => {
            //console.log($('#text').val());
            socket.emit('chat', {
                "Username": $('#userhidden').text(),
                "msg": $('#text').val()
            });
            $('#text').val('');
            return false;
        })

        // Hiển thị người chơi online
        onlSocket.emit('online', {
            "Username": $('#userhidden').text(),
            "Image": $('#imagehidden').text()
        })
        onlSocket.on('online', users => {
            //console.log(users);
            const str = users.map(u => {
                return `<li class="list-group-item">
                    <img style="width: 30px; height: 30px" src="${u.Image}" alt="img">
                    ${u.Username}
                </li>`
            })
            $('.online-list').html(str.join(' '));
        })

        socket.on('chat', chatList => {
            const str = chatList.map(c => {
                const tmp = ''
                if (c.Username == $('#userhidden').text()) {
                    return `<div class="chat-message-right pb-4">
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                    <div class="font-weight-bold mb-1">You</div>
                                    ${c.msg}
                                </div>
                            </div>`
                }
                return `<div class="chat-message-left pb-4">                
                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                <div class="font-weight-bold mb-1">${c.Username}</div>
                                ${c.msg}
                            </div>
                        </div>`
            }).join(' ');
            $('#chat-content').html(str);
        })

        
    })
</script>